@import 'tailwindcss';

@theme {
  --font-sans: Ubuntu, 'Ubuntu Fallback', system-ui, sans-serif;

  --color-background: #030303;
  --color-foreground: #cecece;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #858585;
  --color-primary: #00ab8a;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
